---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/louagej/Bijoux/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '52'
      X-RateLimit-Reset:
      - '1456587436'
      ETag:
      - '"49eb11c2d49a834c42d7f12cd31e3698"'
      Last-Modified:
      - Sat, 06 Sep 2014 17:35:28 GMT
      X-GitHub-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"louagej","id":7229592,"avatar_url":"https://avatars.githubusercontent.com/u/7229592?v=3","gravatar_id":"","url":"https://api.github.com/users/louagej","html_url":"https://github.com/louagej","followers_url":"https://api.github.com/users/louagej/followers","following_url":"https://api.github.com/users/louagej/following{/other_user}","gists_url":"https://api.github.com/users/louagej/gists{/gist_id}","starred_url":"https://api.github.com/users/louagej/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/louagej/subscriptions","organizations_url":"https://api.github.com/users/louagej/orgs","repos_url":"https://api.github.com/users/louagej/repos","events_url":"https://api.github.com/users/louagej/events{/privacy}","received_events_url":"https://api.github.com/users/louagej/received_events","type":"User","site_admin":false,"contributions":18}]'
      effective_url: https://api.github.com/repos/louagej/Bijoux/contributors
  recorded_at: Sat, 27 Feb 2016 15:36:37 GMT
recorded_with: VCR 3.0.1
