<h1>RepoContributors#results</h1>
<h3>Résultats de recherche</h3>
<%= render :partial => 'repo_contributors_navbar' %>
<p>Find me in app/views/repo_contributors/results.html.erb</p>
<p><%= @search_results %></p>
<%= params.inspect %>
